$adminLinkActvBgColor: #F9F9F9;
$adminLinkBgColor: #F3F3F3;
$adminLinkBrdrColor: #ACACAC;
$adminLinkFontColor: #2B2C2B;
$adminLinkFontSize: 10pt;
$adminLinkFont: 'Ubuntu';
$adminLinkHvColor: #FFFFFF;
$adminLinkWeight: normal;
$articleBgColor: #BBAB93;
$articleClipFont: 'Pontano Sans',sans-serif;
$articleClipFontSize: 140%;
$articleClipLinkColor: #581414;
$articleClipLinkHvColor: #888888;
$articleItemClipLinkFont: 'Pontano Sans',sans-serif;
$articleItemClipLinkFontSize: 90%;
$articleMetaFgColor: #222222;
$articleTagsFgColor: #333333;
$articleTitleLinkBgColor: #5C1916;
$articleTitleLinkFgColor: #FFF8DC;
$articleTitleLinkHvColor: #888888;
$articleTitleWeight: normal;
$artLinkTitleFontSize: 120%;
$artLinkTitleWeight: bold;
$artWrapEmFgColor: #993333;
$artWrapTitleFontSize: 160%;
$artWrapTitleWeight: bold;
$authorLinkColor: #2174A1;
$authorTitleLinkFgColor: #2174A1;
$authorTitleLinkHvColor: #888888;
$avatarElementLabelColor: #A4A190;
$baseLinkFgColor: #581414;
$baseLinkHvColor: #888888;
$bioFgColor: #EEEEEE;
$bodyBgColor: #5E727D;
$booksFontColor: #FFFFFF;
$booksFont: 'Ubuntu', sans-serif;
$bookTitleFgColor: #1D2029;
$bookTitleHvColor: #666666;
$borderColor: #5C1916;
/* Colors */
$commentAdmTitleFgColor: #993333;
$commentBgColor: #BBBBBB;
$commentHdrBgColor: #333333;
$commentHdrFgColor: #FFFFFF;
$configFormLegendFontSize: 140%;
$configFormLegendWeight: bold;
$container: 1040px;
$containerColor: #A18B69;
/* Dimensions */
$entityAuthorWeight: bold;
$entityNoPubFgColor: #EECCEE;
$entityPubFgColor: #CCEECC;
$entityTitlesFontSize: 140%;
$entityTitlesWeight: bold;
$fmsgFgColor: #FF88FF;
/* Fonts */
$footerBgColor: #111111;
$footerFgColor: #999999;
$footerLinkFgColor: #999999;
$footerLinkHvColor: #CCCCCC;
$footerRuleBgColor: #333333;
$footerRuleFgColor: #333333;
$footerWidth: 100%;
$formLabelWeight: bold;
$headerColor: #584E3B;
$headerFontColor: #FFFFFF;
$headerFont: 'Jura', sans-serif;
$headerFontSize: 200%;
$headerLinkFgColor: #FFFFFF;
$headLineArticleClipFontSize: 150%;
$headLineArticleTitleFontSize: 180%;
$headLineArticleTitleFont: 'Ubuntu', sans-serif;
$leftColWidth: 151px;
$logformBgColor: #A4A190;
$logformLegendFontColor: #000000;
$logformLegendFontSize: 140%;
$logformLegendFont: 'Ubuntu', sans-serif;
$logformLegendWeight: bold;
$loggedInFgColor: #999999;
$loggedInLinkFgColor: #999999;
$loggedInLinkHvColor: #FFFFFF;
$loginColor: #1D2029;
$midColMainTitleFontBgColor: #1D2029;
$midColMainTitleFontColor: #FFFFFF;
$midColMainTitleFontSize: 300%;
$midColMainTitleFont: 'Ubuntu', sans-serif;
$navAdmLinkFgColor: #A4A190;
$navAdmLinkHvColor: #DDDDDD;
$navLinkBgColor: #A4A190;
$navLinkFgColor: #FFFFFF;
$navLinkHvColor: #CCDDBB;
$paginationControlDisabledWeight: normal;
$paginationControlWeight: bold;
$paginatorLinkFgColor: #1D2029;
$paginatorLinkHvColor: #558855;
$preBgColor: #888888;
$preFgColor: #FFFFFF;
$regFormLegendFontSize: 120%;
$regFormLegendWeight: bold;
$rightColWidth: 250px;
$sbarRtSubmitBgColor: #584E3B;
$sbarRtSubmitFgColor: #CCCCCC;
$sbarRtSubmitHvBgColor: #A89E8B;
$sbarRtSubmitHvFgColor: #666666;
$searchHeaderWeight: bold;
$sideWrapBgColor: #A4A190;
$sideWrapFontColor: #FFFFFF;
$sideWrapFont: 'Ubuntu', sans-serif;
$sidewrapLinkHvColor: #666666;
$subHeaderFontColor: #CCCCCC;
$subHeaderFontSize: 150%;
$titleColor: #A89E8B;
$twoColWidth: $container - $rightColWidth - 15;
$usernameFgColor: #FFFFFF;
$userTitleFgColor: #993333;
