/* Colors */
$articleTitleLinkFgColor: #FFFFFD;
$articleTitleLinkBgColor: #5E727D;
$logformLegendFontColor: #000000;
$footerBgColor: #111111;
$bookTitleFgColor: #1D2029;
$loginColor: #1D2029;
$midColMainTitleFontBgColor: #1D2029;
$paginatorLinkFgColor: #1D2029;
$authorLinkColor: #2174A1;
$authorTitleLinkFgColor: #2174A1;
$adminLinkFontColor: #2B2C2B;
$articleTagsFgColor: #333333;
$commentHdrBgColor: #333333;
$footerRuleBgColor: #333333;
$footerRuleFgColor: #333333;
$articleClipLinkColor: #581414;
$baseLinkFgColor: #581414;
$headerColor: #584E3B;
$sbarRtSubmitBgColor: #584E3B;
$paginatorLinkHvColor: #558855;
$bodyBgColor: #5E727D;
$bookTitleHvColor: #666666;
$sbarRtSubmitHvFgColor: #666666;
$sidewrapLinkHvColor: #666666;
$articleMetaFgColor: #777777;
$articleTitleLinkHvColor: #888888;
$preBgColor: #888888;
$articleClipLinkHvColor: #888888;
$authorTitleLinkHvColor: #888888;
$baseLinkHvColor: #888888;
$artWrapEmFgColor: #993333;
$commentAdmTitleFgColor: #993333;
$userTitleFgColor: #993333;
$footerFgColor: #999999;
$footerLinkFgColor: #999999;
$loggedInFgColor: #999999;
$loggedInLinkFgColor: #999999;
$avatarElementLabelColor: #A4A190;
$logformBgColor: #A4A190;
$navAdmLinkFgColor: #A4A190;
$sideWrapBgColor: #A4A190;
$sbarRtSubmitHvBgColor: #A89E8B;
$titleColor: #A89E8B;
$adminLinkBrdrColor: #ACACAC;
$commentBgColor: #BBBBBB;
$footerLinkHvColor: #CCCCCC;
$sbarRtSubmitFgColor: #CCCCCC;
$subHeaderFontColor: #CCCCCC;
$navLinkHvColor: #CCDDBB;
$entityPubFgColor: #CCEECC;
$containerColor: #D3CDBF;
$borderColor: #DDDDDD;
$navAdmLinkHvColor: #DDDDDD;
$entityNoPubFgColor: #EECCEE;
$bioFgColor: #EEEEEE;
$adminLinkBgColor: #F3F3F3;
$fmsgFgColor: #FF88FF;
$adminLinkActvBgColor: #F9F9F9;
$commentHdrFgColor: #FFFFFF;
$headerLinkFgColor: #FFFFFF;
$loggedInLinkHvColor: #FFFFFF;
$navLinkFgColor: #FFFFFF;
$preFgColor: #FFFFFF;
$usernameFgColor: #FFFFFF;
$articleBgColor: #C8C2B5;
$adminLinkHvColor: #FFFFFF;
$booksFontColor: #FFFFFF;
$headerFontColor: #FFFFFF;
$midColMainTitleFontColor: #FFFFFF;
$sideWrapFontColor: #FFFFFF;

/* Fonts */
$adminLinkFont: 'Ubuntu';
$articleItemClipLinkFont: 'Pontano Sans',sans-serif;
$headLineArticleTitleFont: 'Ubuntu', sans-serif;
$articleClipFont: 'Pontano Sans',sans-serif;
$logformLegendFont: 'Ubuntu', sans-serif;
$headerFont: 'Jura', sans-serif;
$sideWrapFont: 'Ubuntu', sans-serif;
$booksFont: 'Ubuntu', sans-serif;
$midColMainTitleFont: 'Ubuntu', sans-serif;

$adminLinkFontSize: 10pt;
$articleItemClipLinkFontSize: 90%;
$headLineArticleTitleFontSize: 180%;
$headLineArticleClipFontSize: 150%;
$articleClipFontSize: 140%;
$artLinkTitleFontSize: 120%;
$regFormLegendFontSize: 120%;
$configFormLegendFontSize: 140%;
$entityTitlesFontSize: 140%;
$logformLegendFontSize: 140%;
$subHeaderFontSize: 150%;
$artWrapTitleFontSize: 160%;
$headerFontSize: 200%;
$midColMainTitleFontSize: 300%;

$articleTitleWeight: normal;
$adminLinkWeight: normal;
$paginationControlDisabledWeight: normal;
$paginationControlWeight: bold;
$artLinkTitleWeight: bold;
$artWrapTitleWeight: bold;
$configFormLegendWeight: bold;
$entityTitlesWeight: bold;
$entityAuthorWeight: bold;
$formLabelWeight: bold;
$logformLegendWeight: bold;
$regFormLegendWeight: bold;
$searchHeaderWeight: bold;

/* Dimensions */
$container: 1040px;
$leftColWidth: 151px;
$midColWidth: 613px;
$rightColWidth: 250px;
$twoColWidth: $container - $rightColWidth - 20;
$footerWidth: 100%;

