@import "vars";
/***** Accordion Title  default state *****/
.dijitAccordionTitleFocus {
  outline: #000 none 0;
}

.dijitAccordionTitle {
  background-color: $articleTitleLinkBgColor !important;
  color: $articleTitleLinkFgColor !important;
}

.dijitAccordionTitle a {
  color: $articleTitleLinkFgColor !important;
  text-decoration: none !important;
  &:focus { color: $articleTitleLinkHvColor !important; }
  &:hover { color: $articleTitleLinkHvColor !important; }
}

/* Title hover state */
.dijitAccordionInnerContainerHover .dijitAccordionTitle {
  color: $articleTitleLinkBgColor !important;
  background-color: $articleTitleLinkFgColor !important;
}

.dijitAccordionInnerContainerHover .dijitAccordionTitle a {
  color: $articleTitleLinkBgColor !important;
  &:focus { color: $articleTitleLinkHvColor !important; }
  &:hover { color: $articleTitleLinkHvColor !important; }
}

.dijitAccordionInnerContainerSelected {
  background-color: $articleBgColor !important;
  border-color: $borderColor !important;
}

.dijitAccordionInnerContainerSelected a {
  text-decoration: none !important;
}

.dijitAccordionContainer .dijitAccordionChildWrapper {
  background-color: $articleBgColor !important;
  border-color: $articleBgColor !important;
}

/* Pane Settings */
.dijitAccordionContainer-dijitContentPane {
  background-color: $articleBgColor !important;
  border-color: $articleBgColor !important;
  font-size: 130%;
}
