@import "vars";
@import "base";

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

/** Globals **/
body {
  background: $bodyBgColor url("/images/bg.jpg") repeat-x top;
  font-family: 'Ubuntu', 'Arial', sans-serif; }

p {
  padding: 0 0 10px 0; }

form .element {
  text-align: center; }

a {
  color: $baseLinkFgColor;
  &:visited {
    color: $baseLinkFgColor; }
  &:hover {
    color: $baseLinkHvColor; } }

/** ID's **/
#topWrap {
  background: $bodyBgColor url("/images/bg.jpg") repeat-x top; }

#logged-in-as {
  line-height: 2;
  color: $loggedInFgColor;
  padding: 0 15px;
  height: 30px;
  a {
    text-decoration: none;
    color: $loggedInLinkFgColor;
    &:hover {
      color: $loggedInLinkHvColor; } }
  p {
    margin-top: 3px; }
  img {
    margin-top: -7px; } }

#regform {
  max-width: 300px;
  legend {
    font-size: $regFormLegendFontSize;
    font-weight: $regFormLegendWeight;
    padding-bottom: 15px; }
  & #captcha-element>img {
    width: 69%; }
  & #captcha-input {
    margin-top: 10px; } }

#commentform {
  background-color: $commentBgColor;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  width: 100%;
  .zend_form {
    padding: 10px 20px;
    .element {
      text-align: left;
      padding-top: 10px; }
    textarea {
      width: 90%; } } }

#configform .zend_form .element {
  text-align: left;
  padding-top: 10px;
  .zend_form {
    label {
      float: left;
      width: 260px; }
    legend {
      font-size: $configFormLegendFontSize;
      font-weight: $configFormLegendWeight;
      padding-bottom: 8px;
      text-decoration: underline; }
    input {
      margin: 0 0 5px 0; } } }

#logform {
  max-width: 250px;
  .zend_form {
    background-color: $logformBgColor;
    padding: 10px 20px;
    margin: 0 10px 10px;
    border-radius: 6px; }
  legend {
    font-size: $logformLegendFontSize;
    font-family: $logformLegendFont;
    font-weight: $logformLegendWeight;
    color: $logformLegendFontColor;
    padding: 0 0 8px;
    text-align: center; }
  .formFields dd {
    padding-bottom: 8px;
    margin: 0 0 0 10px; }
  input {
    width: 90%; } }

#avatar-element {
  width: 720px;
  clear: both;
  label {
    background-color: $avatarElementLabelColor;
    float: left;
    display: inline;
    text-align: center;
    width: 130px;
    margin: 3px;
    padding: 0 0 5px; }
  input {
    margin: 5px auto;
    display: block; }
  img {
    margin: 5px; } }

/** Classes **/
.zend_form {
  padding: 20px 0; }

.container {
  margin: 0 auto 5px;
  padding: 0;
  width: $container; }

.header {
  height: 66px;
  padding: 0 15px;
  h1 {
    font-family: $headerFont;
    font-size: $headerFontSize;
    text-shadow: 0px 2px 3px #555;
    color: $headerFontColor;
    line-height: 2.4;
    float: left; }
  h3 {
    font-family: $headerFont;
    font-size: $subHeaderFontSize;
    color: $subHeaderFontColor;
    margin-top: 25px;
    float: right; }
  a {
    text-decoration: none;
    color: $headerLinkFgColor; } }


.element.reg {
  padding-top: 20px;
  text-align: left; }

.nav {
  width: $leftColWidth;
  padding: 5px 0 0;
  margin: 0;
  float: left;
  a {
    font-size: $adminLinkFontSize + 2;
    padding: 5px 10px;
    background-color: $navLinkBgColor;
    margin: 5px;
    width: 120px;
    float: left;
    border-radius: 4px;
    text-decoration: none;
    color: $navLinkFgColor;
    &:hover {
      color: $navLinkHvColor; } }
  .mainmenu {
    padding: 5px 0; }
  .adminmenu a {
    background-color: $navAdmLinkFgColor;
    &:hover {
      color: $navAdmLinkHvColor; } } }

.content {
  padding: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url("/images/textureBG.png");
  background-color: $containerColor;
  pre {
    background-color: $preBgColor;
    color: $preFgColor;
    padding: 15px; } }

.art_link {
  padding-top: 15px;
  .title {
    margin-left: 10px;
    font-size: $artLinkTitleFontSize;
    font-weight: $artWrapTitleWeight; } }

.articleClip {
  font-family: $articleClipFont;
  font-size: $articleClipFontSize; }

.mainTitle {
  display: inline-block;
  float: left;
  width: $container - $rightColWidth - $leftColWidth - 6; }

.mainTitle img {
  height: 109px;
  width: 622px;
  padding: 10px 1px 1px 6px;
  margin: 0px; }

.midcol {
  padding: 0px 5px 0 0;
  width: $twoColWidth;
  float: right;
  .mainTitle h2 {
    font-size: $midColMainTitleFontSize;
    font-family: $midColMainTitleFont;
    color: $midColMainTitleFontColor;
    background-color: $midColMainTitleFontBgColor;
    text-align: center; }
  .articleItem .articleClip {
    background-color: $articleBgColor; } }

.twoCol {
  padding: 0 10px 0 10px;
  width: 1020px;
  margin: 0 auto;
  float: left;
  iframe {
    text-align: center;
    margin: 0 auto;
    float: none; } }

.headline {
  h2 {
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    background-color: $articleTitleLinkBgColor;
    font-family: $headLineArticleTitleFont;
    font-size: $headLineArticleTitleFontSize;
    font-weight: $articleTitleWeight;
    text-shadow: 0px 2px 3px #555; }
  hr {
    color: $borderColor;
    padding: 0;
    margin: 0;
    height: 1px;
    background-color: $borderColor;
    border: none; }
  .articleClip {
    font-size: $headLineArticleClipFontSize; } }

.static hr {
  color: $borderColor;
  padding: 0;
  margin: 0;
  height: 1px;
  background-color: $borderColor;
  border: none; }

.book {
  padding: 0 10px;
  margin: 0px 0 0 0;
  .pic {
    text-align: center;
    margin: 8px auto 0; }
  .title {
    padding-bottom: 5px; }
  .title a {
    text-decoration: none;
    color: $bookTitleFgColor;
    &:hover {
      color: $bookTitleHvColor; } }
  hr {
    margin: 3px 0; } }

.books {
  width: $twoColWidth;
  height: 1528px;
  border-radius: 3px; }

form label {
  font-weight: $formLabelWeight; }

form button {
  padding: 2px 5px; }

/* --------- */

.articles {
  padding: 0 0 10px;
  hr {
    color: $borderColor;
    border: none;
    background-color: $borderColor;
    height: 1px;
    margin: 0; } }

.arty {
  .articleTitle {
    padding: 10px 0 0 0;
    font-family: $headLineArticleTitleFont; }
  .articleTitle p {
    font-family: 'Helvetica', 'Arial', sans-serif; }
  .articleHidden {
    display: none; }
  .first .articleItem {
    border-bottom: 1px solid $borderColor;
    padding-right: 10px; } }

.articleItem {
  .articleTitle h2 {
    font-family: $headLineArticleTitleFont;
    font-weight: $articleTitleWeight;
    color: $articleTitleLinkFgColor;
    text-shadow: 0px 2px 3px #555;
    border-radius: 3px;
    background-color: $articleTitleLinkBgColor;
    padding: 5px 10px 7px 10px;
    margin: 5px 0 0; }
  .articleTitle p {
    margin: 0 0 0 10px; }
  .articleTitle a {
    text-decoration: none;
    color: $articleTitleLinkFgColor;
    &:hover {
      color: $authorTitleLinkHvColor; } }
  .articleTitle a.author {
    color: $authorTitleLinkFgColor;
    &:hover {
      color: $authorTitleLinkHvColor; } }
  .articleMgmt {
    margin-bottom: 10px; }
  .articleClip {
    margin: 0 0 6px;
    padding: 0 20px 4px;
    background-color: $articleBgColor;
    border-radius: 3px; }
  a.clipLink {
    font-size: $articleItemClipLinkFontSize;
    font-family: $articleItemClipLinkFont;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    text-decoration: none;
    color: $articleClipLinkColor;
    &:hover {
      color: $articleClipLinkHvColor; } }
  .articleClip p {
    padding: 10px 0; }
  .articleMeta {
    margin: 10px;
    color: $articleMetaFgColor; }
  .tagsList {
    margin: 10px 0 0 0px;
    color: $articleTagsFgColor; }
  .tagsList a {
    text-decoration: none; }
  hr {
    color: $borderColor;
    border: none;
    background-color: $borderColor;
    height: 1px;
    padding: 0;
    margin: 4px 0; } }

.article {
  background-color: $articleBgColor;
  padding: 10px;
  margin: 0 0 15px 0; }

.bio {
  border: 1px solid $borderColor;
  background-color: $titleColor;
  color: $bioFgColor;
  padding: 10px;
  img {
    float: left;
    margin: 0px 10px 0px 0; } }

.avatarform .zend_form .element {
  text-align: left;
  padding-top: 10px; }


.comment {
  background-color: $commentBgColor;
  margin: 4px 0;
  .comheader {
    color: $commentHdrFgColor;
    background-color: $commentHdrBgColor;
    padding: 3px; }
  .comcounter {
    float: right; }
  .combody {
    padding: 8px; }
  .combody img {
    margin: 0 8px 0 0;
    float: left; } }

.delComment {
  float: left;
  display: block;
  width: 700px;
  padding-top: 12px; }

.userName {
  color: $usernameFgColor; }

.artWrap {
  border: 1px solid $borderColor;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px 15px 0;
  h2 {
    float: left;
    display: inline; }
  h3 {
    padding-bottom: 10px;
    float: left;
    display: inline; }
  em {
    color: $artWrapEmFgColor; }
  hr {
    color: $borderColor;
    border: none;
    background-color: $borderColor;
    height: 1px;
    margin: 0 0 5px; }
  .admin a {
    margin-top: 0; }
  .title {
    float: left;
    font-size: $artWrapTitleFontSize;
    font-weight: $artLinkTitleWeight;
    margin: 0 10px 0 0; } }

.entity {
  border: 1px solid $borderColor;
  border-radius: 10px;
  margin: 15px 0 15px 10px;
  padding: 15px 15px 0;
  float: left;
  width: 95%;
  .admin {
    float: left;
    display: inline;
    height: 34px; }
  .titles {
    font-size: $entityTitlesFontSize;
    font-weight: $entityTitlesWeight; }
  .author {
    font-weight: $entityAuthorWeight; }
  .pub {
    background-color: $entityPubFgColor; }
  .nopub {
    background-color: $entityNoPubFgColor; }
  .artText {
    padding: 10px 0 0 30px;
    margin: 6px;
    background-color: $articleBgColor; }
  h2 {
    padding-bottom: 10px; }
  hr {
    color: $borderColor;
    background-color: $borderColor;
    height: 1px;
    border: none;
    margin: 0; } }

.admbody {
  padding: 10px;
  width: 848px;
  float: right;
  display: inline; }

.admin {
  display: block;
  margin: 0;
  padding: 0;
  a {
    padding: 0 10px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    font-family: $adminLinkFont;
    font-weight: $adminLinkWeight;
    font-size: $adminLinkFontSize;
    float: left;
    margin: 10px 8px 10px 0;
    background-color: $adminLinkBgColor;
    border: 1px solid $adminLinkBrdrColor;
    -moz-box-shadow: inset 0px 0px 1px rgba(187, 187, 187, 1);
    -webkit-box-shadow: inset 0px 0px 1px rgba(187, 187, 187, 1);
    box-shadow: inset 0px 0px 1px rgba(187, 187, 187, 1);
    background-image: -o-linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(254, 254, 254) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(254, 254, 254) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(254, 254, 254) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(254, 254, 254) 100%);
    background-image: linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(254, 254, 254) 100%);
    color: $adminLinkFontColor;
    text-shadow: rgba(254, 254, 254, 0.5) 0px 1px 0px;
    &:hover {
      background-color: $adminLinkHvColor;
      background-image: -o-linear-gradient(90deg, rgb(246, 246, 246) 0%, rgb(254, 254, 254) 100%);
      background-image: -moz-linear-gradient(90deg, rgb(246, 246, 246) 0%, rgb(254, 254, 254) 100%);
      background-image: -webkit-linear-gradient(90deg, rgb(246, 246, 246) 0%, rgb(254, 254, 254) 100%);
      background-image: -ms-linear-gradient(90deg, rgb(246, 246, 246) 0%, rgb(254, 254, 254) 100%);
      background-image: linear-gradient(90deg, rgb(246, 246, 246) 0%, rgb(254, 254, 254) 100%); }
    &:active {
      background-color: $adminLinkActvBgColor;
      -moz-box-shadow: inset 0px 0px 5px rgba(187, 187, 187, 1);
      -webkit-box-shadow: inset 0px 0px 5px rgba(187, 187, 187, 1);
      box-shadow: inset 0px 0px 5px rgba(187, 187, 187, 1);
      background-image: -o-linear-gradient(90deg, rgb(254, 254, 254) 0%, rgb(246, 246, 246) 100%);
      background-image: -moz-linear-gradient(90deg, rgb(254, 254, 254) 0%, rgb(246, 246, 246) 100%);
      background-image: -webkit-linear-gradient(90deg, rgb(254, 254, 254) 0%, rgb(246, 246, 246) 100%);
      background-image: -ms-linear-gradient(90deg, rgb(254, 254, 254) 0%, rgb(246, 246, 246) 100%);
      background-image: linear-gradient(90deg, rgb(254, 254, 254) 0%, rgb(246, 246, 246) 100%);
      text-shadow: none; } } }

.user {
  h3 {
    padding-top: 1em;
    color: $userTitleFgColor;
    width: 400px; }
  hr {
    color: $borderColor;
    background-color: $borderColor;
    height: 1px;
    border: none;
    margin: 0; } }

.comadm {
  h2 {
    padding: 0 0 10px; }
  h3 {
    padding: 10px 0 0;
    em {
      color: $commentAdmTitleFgColor; } }
  hr {
    color: $borderColor;
    background-color: $borderColor;
    height: 1px;
    border: none;
    margin: 0; } }

.addthis_toolbox {
  text-align: center;
  margin: 10px auto 0;
  padding: 0 300px; }

.addthis_small {
  margin: 0;
  padding: 5px 0; }

.floatRt {
  float: right;
  padding: 0;
  margin: 0; }

.floatLt {
  float: left;
  padding: 0;
  margin: 0; }

.tsearch {
  padding: 15px;
  margin: 15px;
  td {
    padding: 4px 0; }
  a {
    text-decoration: none; }
  .theader {
    font-weight: $searchHeaderWeight; }
  .tid {
    width: 30px; }
  .ttitle {
    width: 230px; }
  .tauthor {
    width: 90px; }
  .tpubdate {
    width: 130px; } }

.paginationControl {
  text-align: center;
  margin: 10px;
  font-weight: $paginationControlWeight;
  .disabled {
    font-weight: $paginationControlDisabledWeight; }
  .pageNum {
    border: 1px solid $loginColor;
    padding: 2px 2px 2px 5px;
    margin: 10px 4px; }
  a {
    text-decoration: none;
    color: $paginatorLinkFgColor;
    &:hover {
      color: $paginatorLinkHvColor; } } }

/* sidebar stuff */

.searchbox {
  background:#ffffff url("/images/search.png") no-repeat;
  background-position: right;
  text-align:left;
}

.sidebarLt {
  width: $leftColWidth;
  margin-left: 5px;
  float: left; }

.sidebarRt {
  width: $rightColWidth;
  padding: 10px 0;
  float: right;
  .searchBox {
    margin: 0;
    padding: 0; }
  .zend_form {
    padding: 2px 0 0;
    margin: 0; }
  .zend_form input[type="text"] {
    padding: 2px 0;
    border-radius: 4px;
    width: 95%; }
  .zend_form input[type="submit"] {
    display: block;
    clear: both;
    margin: 8px auto;
    background-color: $sbarRtSubmitBgColor;
    color: $sbarRtSubmitFgColor;
    border-radius: 3px;
    padding: 2px 5px;
    &:hover {
      background-color: $sbarRtSubmitHvBgColor;
      color: $sbarRtSubmitHvFgColor; } } }

.sideWrap {
  background-color: $sideWrapBgColor;
  border-radius: 6px;
  padding: 0 0 10px 0;
  margin: 0 10px 10px;
  display: block;
  h3 {
    padding: 5px 0 0px 0;
    font-family: $sideWrapFont;
    text-align: center;
    color: $sideWrapFontColor;
    background-color: $titleColor; }
  hr {
    padding: 0;
    margin: 0; }
  .linkWrap a {
    text-decoration: none;
    color: $loginColor;
    &:hover {
      color: $sidewrapLinkHvColor; } } }

.follow {
  .glifs {
    height: 40px;
    width: 164px;
    text-align: center;
    margin: 0 auto; }
  a {
    background-image: url("/images/social.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    padding: 0;
    margin: 15px 0;
    height: 32px;
    width: 32px;
    &.fb {
      background-position: 0px 0px;
      &:hover {
        background-position: 0px -32px; } }
    &.tw {
      background-position: -32px 0px;
      &:hover {
        background-position: -32px -32px; } }
    &.gp {
      background-position: -64px 0px;
      &:hover {
        background-position: -64px -32px; } }
    &.li {
      background-position: -96px 0px;
      &:hover {
        background-position: -96px -32px; } }
    &.gh {
      background-position: -128px 0px;
      &:hover {
        background-position: -128px -32px; } } } }

.contribs .linkWrap ul {
  padding: 0 10px 0 40px;
  margin: 6px 0 0 0; }

.aboutWrap {
  padding: 5px 25px; }

.footer {
  padding: 10px 0 2px;
  margin: 0 auto;
  background-color: $footerBgColor;
  color: $footerFgColor;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: $footerWidth;
  p {
    margin-left: 20px;
    color: $footerFgColor; }
  .zp {
    float: right;
    margin-right: 20px;
    display: inline; }
  .footWrap {
    width: 220px;
    float: left;
    padding: 10px 0 10px 20px;
    margin-left: 10px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    a {
      color: $footerLinkFgColor;
      text-decoration: none;
      &:hover {
        color: $footerLinkHvColor;
        text-decoration: none; } }
    hr {
      color: $footerRuleFgColor;
      background-color: $footerRuleBgColor;
      height: 1px;
      border: none; }
    li {
      border-bottom: 1px dotted $footerRuleBgColor;
      margin-bottom: 3px;
      padding-bottom: 3px;
      &:hover {
        border-bottom: 1px dashed $footerLinkHvColor; } } }
  .copyright {
    padding-top: 10px;
    hr {
      margin: 0 20px 10px 20px;
      color: $footerRuleFgColor;
      background-color: $footerRuleBgColor;
      height: 1px;
      border: none; } } }

.contactForm {
  input[type="text"] {
    width: 140px;
    margin: 0 0 10px; }
  textarea {
    width: 140px;
    height: 84px; }
  label {
    padding: 0;
    width: 70px;
    float: left; }
  .zend_form {
    padding: 0;
    button {
      margin: -23px 0 0 0;
      float: left; } } }

.fmessage {
  color: $fmsgFgColor;
  margin: 10px; }

.buttonset {
  margin-left: 5px;
  .app {
    float: right;
    display: inline;
    height: 34px; } }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

@import "mqueries";
