/* Colors */
/* Dimensions */
/* Fonts */
/***** Accordion Title  default state *****/
.dijitAccordionTitleFocus {
  outline: #000 none 0;
}

.dijitAccordionTitle {
  background-color: #5c1916 !important;
  color: #fff8dc !important;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dijitAccordionTitle a {
  color: #fff8dc !important;
  text-decoration: none !important;
}
.dijitAccordionTitle a:focus {
  color: #888888 !important;
}
.dijitAccordionTitle a:hover {
  color: #888888 !important;
}

/* Title hover state */
.dijitAccordionInnerContainerHover .dijitAccordionTitle {
  color: #5c1916 !important;
  background-color: #fff8dc !important;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dijitAccordionInnerContainerHover .dijitAccordionTitle a {
  color: #5c1916 !important;
}
.dijitAccordionInnerContainerHover .dijitAccordionTitle a:focus {
  color: #888888 !important;
}
.dijitAccordionInnerContainerHover .dijitAccordionTitle a:hover {
  color: #888888 !important;
}

.dijitAccordionInnerContainerSelected {
  background-color: #bbab93 !important;
  border-color: #5c1916 !important;
}

.dijitAccordionInnerContainerSelected a {
  text-decoration: none !important;
}

.dijitAccordionContainer .dijitAccordionChildWrapper {
  background-color: #bbab93 !important;
  border-color: #bbab93 !important;
}

/* Pane Settings */
.dijitAccordionContainer-dijitContentPane {
  background-color: #bbab93 !important;
  border-color: #bbab93 !important;
  font-size: 130%;
}
