$black: #000000;
$white: #ffffff;
$off-white: #eeeeee;
$grey: #c9c9c9;
$med-grey: #a5a3a4;
$dark-grey: #666666;
$brick-red: #aa3346;
$green-ivory: #e5e4ca;
$base-font-family: Verdana, Helvetica, Arial;
$fixed-font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

