[global]
headlineId = "33"
articleCount = "3"
bookCount = "2"
latestArticleCount = "6"
amazonLU = "zend"

[admin]
admArtCnt = "5"
admComCnt = "5"
admUserCnt = "10"
defemail = "admin@mail.com"

[user]

